@charset "UTF-8";
body {color:black;}
body {background-color:#f8f8ff;}
body{width:670px;}

img{width:200px;height:80px;margin: 100px;}

p{font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;}
